<!doctype html>
<html>
<head>
    <title>Beats & Bars</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://gist.github.com/mfd/09b70eb47474836f25a21660282ce0fd" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/profile.css">
    <link rel="stylesheet" href="assets/css/default.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/theme-orange.css">

</head>
<body id="indexPage">
<div class="container" id="loginOrSignup">
    <!-- <h1 class="glow">Beats & Bars</h1> -->

    <div class="clearfix booking-form neon-lit-background">
        <div class="booking-form__heading no-print">
             <div>
                <div class="neon-border neon-border--flush neon-border--blue neon-border--topgap-xxs neon-border--bottomgap-xxs">
                    <h1 class="h1 type-decorative text-glow pink">BEATS     <span class="h1 annoying type-decorative text-glow pink">   &   </span>   BARS</h1>

                    
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron text-center glow">
        <a href="/login" class="btn btn-default" id="loginBtn">Log In</a>
        <a href="/signup" class="btn btn-default" id="signupBtn">Sign Up</a>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


    <script>
        var cont = $(".neon-lit-background");
var neon = $(".neon-border");
setInterval(function() {
  var i = Math.floor((Math.random() * 10) + 1) * 200;
  setTimeout(function() {
    setTimeout(function() {
        $(cont).addClass("neon-lit-background--poweroff");
        $(neon).addClass("neon-border--poweroff");
      }, i),
      $(cont).removeClass("neon-lit-background--poweroff");
    $(neon).removeClass("neon-border--poweroff");
  }, 1000);
}, 2000);
    </script>
</body>
</html>
