@import url(https://fonts.googleapis.com/css?family=Monoton);

.avatar{
    width: 300px;
    height:300px;
}
#centerContainer { width: 1100px; text-align: center; margin: 0px auto; }

#loginOrSignup{
    /* font-family: 'Poppins', sans-serif; */
}

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import url('https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css');

h1,
.slide-content .title {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
    line-height: 1.2;
    font-family: var(--h1-font);
    color: var(--primary-color);
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

h1 em,
.slide-content .title em {
    font-weight: 300;
    display: block;
    font-size: var(--h2-size);
}

h2 {
    margin: 1.5rem 0;
    font-size: var(--h2-size);
    font-weight: var(--h2-weight);
    line-height: 1.2;
    font-family: var(--h2-font);
    /* color: var(--primary-t-color); */
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

h2.featured {
    position: relative;
    width: fit-content;
    margin: auto;
}

body {

    background-image: url("../img/appmain.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #5E0762;
    color: white;
}


.jumbotron{
    background-color: transparent;
    font-family: 'Syncopate', sans-serif;
    display: flex;
    justify-content: center;


}

.btn-default {
    background-color: #ffbde5;
}

.btn{
    /* background-color: rgb(243,56,36); */
    color: white;
    /* border: 1px solid #FC5130; */
    font-size: 1.25rem;
}
.neon-lit-background{
    margin-top: 2%;
}

#navBtns{
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    margin-top: 2%;
    border-radius: 36px;
    width: 90%;
    margin-left: 5%;
    z-index: 1000;
    font-family: 'Syncopate', sans-serif;
    
}

.navLink{
    background-color: transparent;

}

.neon-lit-background:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0;
    transition: opacity .05s ease;
    z-index: -1;
}


.neon-border {
    display: block;
    position: relative;
  /*  padding: 1.25rem;*/
  /*  margin: 2.8125rem 0;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: -1;
    color: #fff;
    max-width: 100%;
    overflow: visible;
  width: 800px;
}

.annoying{
    padding-right: 20px;
    padding-left: 20px;
}
.neon-border--blue:before {
    box-shadow: 0 0 15px 4px #0080e2,0 0 120px 2px #004097,inset 0 0 15px 4px #0080e2,inset 0 0 100px 2px #004097;
    border-color: #bde1ff;
}

.neon-border:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid #fff;
    border-radius: 8px;
    transition: opacity .05s ease;
    z-index: -1000;
  
}


.text-glow.pink {
    color: #ffbde5;
    text-shadow: 0 0 10px #ed1cdc,0 0 20px #ed1cdc,0 0 30px #ed1cdc,0 0 40px #790072,0 0 70px #790072;
  font-family: 'Monoton';
  font-size: 85px;
}


    .neon-border--poweroff h1 {
        color: #333
    }

    .neon-border--poweroff h1 {
        opacity: .75
    }




.btn:hover{
  
    background-color: #bd8fd8;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
#msgBtn:hover{
  
    background-color: #bd8fd8;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#signUp{
    font-family: 'Poppins', sans-serif;
    background-color:dimgray;
    color: rgb(227,12,15);
    border-bottom: 1px solid dimgrey !important;
}
#login{
    font-family: 'Poppins', sans-serif;
    color: rgb(227,12,15);
    border-bottom: 1px solid dimgrey !important;
}
#nav{
    font-family: 'Poppins', sans-serif;
    color: rgb(227,12,15);
    border-bottom: 1px solid dimgrey !important;
}
#userProfile{
    font-family: 'Poppins', sans-serif;
    color: rgb(227,12,15);
    border-bottom: 1px solid dimgrey !important;
}

.stageProfile{
    background-color: #f3d6f3;
    margin-top: 7%;
    margin-bottom: 3%;
    position: absolute;
    height: 575px;
    overflow-y: scroll;
    width: 100%;
    transition: transform 450ms ease-in-out;
    border-radius: 36px;
}

.stageProfile::-webkit-scrollbar {
    display: none;
}

.stageProfile {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }



  .stageProfileSwiping{
    background-color: #f3d6f3;
    margin-top: 7%;
    margin-bottom: 3%;
    position: absolute;
    height: 575px;
    overflow-y: scroll;
    width: 100%;
    transition: transform 450ms ease-in-out;
    border-radius: 36px;
}

.stageProfileSwiping::-webkit-scrollbar {

    display: none;
}

.stageProfileSwiping {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }

.messageContainer{
    border: 4px solid #ffbde5;
    border-radius: 15px;

}

.messageContainer{
    width:70%;
    min-height: 400px;
    margin-left: 15%;
    margin-top: 2%;
   
    
}
.messageArea{
    width:100%;
    min-height:350px;
    
}
.messageForm{
    width:100%;
    min-height:50px;
}

#input{
    color: black !important;
    background-color: white;
    border-radius: 10px;
    margin-top: 2px;
}
#msgBtn{
    border-radius: 10px;
    background-color: transparent;
    color: white;
    margin-top: 2px;
}

#msgBtn2{
    border-radius: 10px;
    background-color: black;
    color: white;
    margin-top: 2px;
}
.messageArea ul li{
    list-style: none;
    color: white;

}
.swipedRight{
    transform: translateX(140%);
}
.swipedLeft{
    transform: translateX(-140%);

}
.cardsContainer{
    position: relative;
    height: 685px;
    margin-top: -72px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-text-fill-background-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

.form-control{
    background-color: white !important;
    color: black !important;
}


.mb-0.super.effect-static-text{
    font-size: 6rem !important;
}

#setProfile{
    margin-left: 39%;
    margin-bottom: 1%;
    background-color: #ffbde5;
    border-radius: 18px;
    font-family: 'Syncopate';
    margin-top: 1%;
}

#editProfile{
    color: white;
    background-color: #ffbde5;
}
#setProfile:hover{
    /* background-color: #bde1ff;
    color: #bde1ff; */
}
#personProfile{
    text-align: center;
    /* border: 2px solid rgb(145, 139, 139); */
    margin-bottom: 18px;
}

.page-header.text-center{
    border-bottom: 1px solid dimgrey !important;
}

.swipeBtns{
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    margin-bottom: 5px;
    width:70%;
    margin-left:12%;
    margin-top: 3%;
    align-items: center;
    font-family: 'Syncopate', sans-serif;
  
   
}

#skip{
    margin-right: 108px;
    color: white;
    background-color: #C42021;
    border-radius: 18px;
}
#play{
    color: white;
    background-color:#76F7BF;
    border-radius: 18px;
    margin-left: 75%;
}

#skip:hover{
    background-color: #FC5130;
}
#play:hover{
    background-color: #30fc9d;
}

#form {
    width: 50%;
    margin-left: 26%;
    display: flex;
    justify-content: center;
}


#profileSubmit{
    background-color: plum;
    color: white;
    border: 1px solid plum;
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 47%;
    display: flex;
    justify-content: center;
    border-radius: 18px;
}

#profileSubmit:hover{
    background-color: #ffbde5;
}

.outlineProfile{
    background-color: rgb(212, 206, 206);
}

#loginBtn{
    background-color: transparent!important;
    color: #ffbde5;
    font-size: 2.5rem;
    border: transparent;
    display: flex !important;
    justify-content: center !important;
    

}
#signupBtn{
    background-color: transparent !important;
    color: #ffbde5;
    font-size: 2.5rem;
    border: transparent;
    display: flex !important;
    justify-content: center !important;
 

}

.glow{
    text-shadow: 0 0 10px #ed1cdc, 0 0 20px #ed1cdc, 0 0 30px #ed1cdc, 0 0 40px #610865, 0 0 70px #610865;
}

/* .hidden{
    display: none;
} */

.floatRight{
    display: flex;
    justify-content: flex-end;
    padding-right: 2%;
}

#messages span{
    color: #ffbde5;
}


.team-boxed {
    color: #313437;
    background-color: transparent;
    margin-top: 0%;
  }
  
  .team-boxed p {
    color: #7d8285;
  }
  
  .team-boxed h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
  }
  
  .team-boxed h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
  
  .team-boxed .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .team-boxed .intro p {
    margin-bottom: 0;
  }
  
  .team-boxed .people {
    padding: 50px 0;
  }
  
  .team-boxed .item {
    text-align: center;
    /* margin-left: 3vw;
    width: 30vw; */
    min-width: 300px;
  }
  
  .team-boxed .item .box {
    text-align: center;
    padding: 30px;
    background-color: #fff;
    margin-bottom: 30px;
  }
  
  .team-boxed .item .name {
    font-weight: bold;
    margin-top: 28px;
    margin-bottom: 8px;
    color: inherit;
  }
  
  .team-boxed .item .title {
    text-transform: uppercase;
    font-weight: bold;
    color: #d0d0d0;
    letter-spacing: 2px;
    font-size: 13px;
  }
  
  .team-boxed .item .description {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  
  .team-boxed .item img {
    max-width: 160px;
  }

  .rounded-circle{
      width: 140px;
      height: 140px;
  }
  
  .team-boxed .social {
    font-size: 18px;
    color: #a2a8ae;
  }
  
  .team-boxed .social a {
    color: inherit;
    margin: 0 10px;
    display: inline-block;
    opacity: 0.7;
  }
  
  .team-boxed .social a:hover {
    opacity: 1;
  }
  
  .people {
    display: flex;
    flex-wrap: wrap;
  }

  .modal-body{
      flex-direction: column;
  }

  .modal.fade .modal-dialog{
      min-width: 600px;
  }

  a:not(.btn), a:link:not(.btn), a:visited:not(.btn), a:hover:not(.btn), a:active:not(.btn){
      font-size: 2.3rem;
  }

  .containerProfile{
	position:relative;
	width:50vw;
	height:auto;
	background: #f3d6f3;
	left:0;right:0;bottom:0; top:0;
    margin-top: 3%;
    margin:auto;
    margin-bottom: 3%;
	/* border-bottom-left-radius:0.8vw;
	border-bottom-right-radius:0.8vw; */
	box-shadow:0px 4px 14px rgba(0,0,0,0.3);
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;


	}	

.profileImg{
    border-radius: 10px;
    height: 400px;
    width: 100%;

}

.profileInfo{
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}

/* .usersCodes{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content:center;
    margin-left:15%;
    padding-left:15%;
} */

.usersCodes {
    width: 1164px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: -4%;
    padding-left: 15%;
    border-radius: 10px;
}

#setup{
    background-image: url("../img/login1.png");
    background-repeat: no-repeat;
    background-size: cover;
}





@media only screen and (max-width: 770px) {
    
.text-glow.pink {
    color: #ffbde5;
    text-shadow: 0 0 10px #ed1cdc,0 0 20px #ed1cdc,0 0 30px #ed1cdc,0 0 40px #610865,0 0 70px #790072;
    font-family: 'Monoton';
     font-size: 55px !important;
}


  }

  
@media only screen and (max-width: 300px) {
    
    .text-glow.pink {
        color: #ffbde5;
        text-shadow: 0 0 10px #ed1cdc,0 0 20px #ed1cdc,0 0 30px #ed1cdc,0 0 40px #790072,0 0 70px #790072;
        font-family: 'Monoton';
         font-size: 40px !important;
    }
  
    
    
      }